<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>fr.dauphine.ecommerce.listener.ECommerceListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>CatalogServlet</servlet-name>
        <servlet-class>fr.dauphine.ecommerce.servlet.CatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>fr.dauphine.ecommerce.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAddServlet</servlet-name>
        <servlet-class>fr.dauphine.ecommerce.servlet.CartAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>fr.dauphine.ecommerce.servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartRemoveServlet</servlet-name>
        <servlet-class>fr.dauphine.ecommerce.servlet.CartRemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderConfirmationServlet</servlet-name>
        <servlet-class>fr.dauphine.ecommerce.servlet.OrderConfirmationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogServlet</servlet-name>
        <url-pattern>/catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/panier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAddServlet</servlet-name>
        <url-pattern>/ajouter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartRemoveServlet</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderConfirmationServlet</servlet-name>
        <url-pattern>/orderConfirmation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
